<!DOCTYPE html>

<head>
    <title>Image presentation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <main>
        <% cards.forEach(c => { %>
        <% if (c.flagged) { %>
        <div class="card flagged" id="card-<%= c.id %>">
            <span class="card-number"><%= c.id %></span>
            <div class="card-image">
                <img src="<%= c.img %>">
            </div>
            <button onclick="clicked('<%= c.id %>')">Unflag</button>
        </div>
        <% } else { %>
        <div class="card" id="card-<%= c.id %>">
            <span class="card-number"><%= c.id %></span>
            <div class="card-image">
                <img src="<%= c.img %>">
            </div>
            <button onclick="clicked('<%= c.id %>')">Flag</button>
        </div>
        <% } %>
        <% }) %>
    </main>

    <script>
        const main = document.getElementsByTagName('main')[0]
        window.addEventListener('wheel', e => main.scrollLeft += e.deltaY)

        clicked = (id) => {
            card = document.getElementById(`card-${id}`)
            button = card.children[2]
            flagged = card.classList.contains('flagged')

            // TODO: update database
            fetch('/', { method: 'POST' }).then(res => {
                console.log(res)
            })

            if (flagged) {
                card.classList.remove('flagged')
                button.innerHTML = 'Flag'
            } else {
                card.classList.add('flagged')
                button.innerHTML = 'Unflag'
            }
        }
    </script>
</body>

</html>