<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Image presentation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <main>
        <% cards.forEach(c => { %>
        <div class="card <%= c.flagged ? 'flagged':'' %>" id="card-<%= c.id %>">
            <span class="card-number"><%= c.id %></span>
            <div class="card-image">
                <img src="<%= c.image %>">
            </div>
            <button onclick="clicked('<%= c.id %>')">
                <%= c.flagged ? 'Unflag':'Flag' %>
            </button>
        </div>
        <% }) %>
    </main>
    <footer>Jiaping Zeng</footer>
    <script src="/index.js"></script>
</body>

</html>